<p id="notice"><%= notice %></p>

<p>
  <b>Conteudo:</b>
  <%= @notification.conteudo %>
</p>

<p>
  <b>Assunto:</b>
  <%= @notification.assunto %>
</p>

<%= link_to 'Enviar mensagem para autor', new_message_path(:receiver_id => @notification.user_id) %> |
<%= link_to 'Editar', edit_notification_path(@notification) %> |
<%= link_to 'Voltar', notifications_path %>
